:root {
    --color--green: #79b851;
    --color--yellow: #f3c237;
    --color--gray: #a4aec4;
    --color--default--gray: #555555;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat",'Open Sans',sans-serif;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    height: 100vh;
    position: relative;
}

.btn--giveup {
    position: absolute;
    top: 1%;
    left: 2%;
    border: none;
    border-radius: 3px;
    width: 10vw;;
    height: 3vh;
    cursor: pointer;
    background: #808080;
    color: #fff;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn--giveup:hover {
    background: var(--color--default--gray)
}

.navbar {
    background: #000;
    width: 100vw;
    height: 5vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    box-shadow: 0px 2px 0px 0px rgba(255, 255, 255,0.3)
}

.grid--container {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(5, 1fr);
    gap: 0.3rem;
    height: 50%;
    margin-bottom: 30px;
}

.grid--item {
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: 2px solid var(--color--default--gray);
    background: #000;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    transition: transform 0.2s ease-in-out;
}

.animate {
    transform: scale(1.1);
    border: 2px solid #cccccc;
}

.keys--container {
    width: 1000%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.keyRow{
    display: flex;
}

.keyItem {
    font-size: 1.5rem;
    padding: 5px;
    width: 50px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background: #808080;
    color: #fff;
    user-select: none;
    transition: background-color 0.15s ease;
}

.keyItem:hover {
    background-color: var(--color--default--gray);
}

.keyItem--ENTER, .keyItem--DELETE {
    color: #fff;
    width: 130px;
}

.toggleShortMessage {
    background: #fff;
    width: 50vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    font-weight: bold;
    font-size: 2rem;
    position: absolute;
    top: 30%;
}

.toggleShortMessage button {
    background: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    width: 50%;
    height: 30%;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.toggleShortMessage button:hover {
    background: var(--color--default--gray);
}

.highlight--green {
    background: var(--color--green);
    border: var(--color--green);
}

.highlight--yellow {
    background: var(--color--yellow);
    border: var(--color--yellow);
}

.highlight--gray {
    background: var(--color--gray);
    border: var(--color--gray);
}